body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.weather{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    color: red;
    font-family: monospace;
}